.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .actions {
    text-align: right;
  }
  /* #249502 */
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgb(117, 31, 31);
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  /* #1d7901; */
  .actions button:hover,
  .actions button:active {
    background-color:rgb(117, 31, 31);
    border-color: rgb(161, 37, 37);
    color: white;
  }
  
  .actions .button--alt {
    color: rgb(161, 37, 37);
  }
  
  .actions .button {
    background-color: rgb(161, 37, 37);
    color: white;
  }