.form {
    text-align: right;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #e3000e;
    border: 1px solid #691b20;
    color: #f7be27;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color:#80242b ;
    border-color: #73171d;
  }